name: Kriteria 3 - CI Pipeline & Docker

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2. Setup Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    # 3. Install Dependencies
    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn numpy matplotlib

    # 4. Run MLflow Project
    - name: Train Model via MLflow
      run: |
        mlflow run . --experiment-name CI_Experiment --env-manager=local

    # 5. Upload Artifacts
    - name: Upload Model Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: model-output
        path: model_output/ 

    # 6. Login Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 7. Build & Push Docker Image
    - name: Build and Push Docker Image
      run: |
        IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/workflow-ci:latest
        
        echo "Building Docker Image: $IMAGE_NAME"
        
        # Build docker menggunakan MLflow
        mlflow models build-docker -m model_output -n $IMAGE_NAME --enable-mlserver
        
        # Push ke Docker Hub
        docker push $IMAGE_NAME